@import url("https://fonts.googleapis.com/css?family=Lobster|Raleway");

* {
  box-sizing: border-box;
}

body {
  background-image: url(http://eskipaper.com/images/city-lights-wallpaper-5.jpg);
  background-size: cover;
  min-height: 100vh;
  padding-top: 4vh;
  font-family: Raleway;
}

h1,
h2,
h3 {
  font-family: Lobster;
  margin: 0;
}

h1 {
  text-align: left;
  font-size: 40px;
  text-transform: uppercase;
}

.page {
  background-color: orange;
  background: linear-gradient(orange, white);
  margin: 0 5vw;
  padding-bottom: 20px;
}


nav a {
  font-family: Lobster;
  font-size: 120%;
  color: black;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

nav a:hover h1 {
  color: black;
}

#cart {
  background-color: lightgray;
  /*width: 23vw;
  display:inline-block;*/
  vertical-align: top;
  float: right;
  margin-right: 1vw;
}

#search {
  width: calc(100% - 8px);
  display: block;
  border-radius: 7px;
  border: 1px solid gray;
  margin: 15px 0;
  font-family: Lobster;
  padding: 3px;
}

.product {
  /*display:none;*/
  margin-bottom: 5px;
}

.content>p {}

.content>button {
  font-family: Raleway;
}


.product img {
  width: 30%;
  float: right;
  margin-bottom: 10px;
  border: 1px solid gray;
}

.product.big {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: orange;
}

.product.big img {
  width: 75vw;
}

#cart ul {
  list-style: none;
  padding: 0;
}

#cart li {
  overflow: auto;
  margin-bottom: 3px;
}

#cart li>span {
  float: right;
}

#cart li.total {
  border-top: 1px dashed gray;
  padding-top: 6px;
  margin-top: 6px;
}

.corners {
  border-radius: 10px;
  border: 1px solid black;
}

.padding {
  padding: 10px;
}

.transp {
  opacity: 0.9;
}

.clearfix {
  overflow: auto;
}

.basket {
  display: none;
  z-index: 2;
}

.basket>.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.basket>.jumbotron {
  position: fixed;
  left: 10vh;
  right: 10vh;
  top: 15vh;
  background-color: #aabbcc;
}


.container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.container li {
  width: calc(33.33% - 20px);
  /* 33.33% de ancho con un margen entre ellos */
  margin: 10px;
}

.container li:nth-child(3n+1) {
  clear: both;
  /* Limpiar el float cada tres elementos */
}

.container li div {
  text-align: center;
  /* Centrar el contenido */
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #e3e9f1;
  border-radius: 20px;
}

.container li div:hover {
  background-color: #6f7072;
}

.container li img {
  /*max-width: 100%;*/
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  /* Ajustar la imagen al ancho del div */
}

.container li .name {
  font-weight: bold;
  /* Estilo de texto en negrita */
}

.container li .description {
  color: #666;
  /* Color del texto de descripción */
}

.information {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.information>p:first-child {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 300;
}
